<md-dialog aria-label="Edit Info">
  <md-toolbar class="toolbar">
    <div class="md-toolbar-tools">
      <h2 style="color: white">Edit Info</h2>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <md-input-container>
        <label>Enter date</label>
        <md-datepicker ng-model="info" md-open-on-focus></md-datepicker>
      </md-input-container>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="cancel()">Cancel</md-button>
    <md-button class='primary-button' ng-click="saveInfo()">Save</md-button>
  </md-dialog-actions>
</md-dialog>